*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #000;
}

header{
     background: url(../../Pictures/Bugatti-Chiron.20.jpg);
     height: 400px;
     width: 1350px;
    color: white;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.navbar .Logo{
    display: flex;
    justify-content: center;
    font-size: 5rem;
}


nav ul{
    list-style: none;
    background-color: #6e6f70c5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li{
    padding: 14px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


h2{
    color: white;
}

p{
    color: white;
}

h1{
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
}

.ubicacion {
  display: flex;
  width: 55%;
  height: 600px;
  gap: 15px;
  margin: 30px auto;
  justify-content: flex-start; /* Empuja el crecimiento hacia la derecha */
  align-items: stretch;
}

.ubicacion {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  cursor: pointer;
  background-image: var(--imagen);
  background-size: cover;
  background-position: left center; /* La foto se queda fija a la izquierda mientras crece */
  transition: flex 0.7s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  
  /* Punto de anclaje visual */
  transform-origin: left; 
}

/* Expansión: Solo cambia el valor de flex */
.ubicacion:hover {
  flex: 8; 
}

.contenido {
  position: absolute;
  bottom: 25px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  width: 45px; 
  height: 45px;
  transition: width 0.5s ease;
  overflow: hidden;
}

.ubicacion:hover .contenido {
  width: 280px; 
  height: 100px;
}

footer{
    background-color: rgb(216, 2, 2);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}